/* =================global style ==============*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
button {
  cursor: pointer;
  display: block;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
/* ==============header============= */
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .address {
    display: none;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 16px;
  }
  header .logo-span {
    color: #2e2f42;
  }
  .header-btn {
    padding: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border-radius: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn-span {
    padding: 5px 4px;
  }
  .icon-group {
    width: 18px;
    height: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover {
    background-color: black;
    fill: #fff;
  }

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .nav {
    display: flex;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link:hover,
  .menu-link:focus {
  color: #404bbf;
}
.menu-link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
}
  .menu-link.current {
    position: relative;
    color: #404bbf;
  }
  .menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addres-list .link:hover,
  .addres-list .link:focus {
  color: #404bbf;
}
  .addres-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .addres-list .link {
    color: #434455;
    font-style: normal;
  }
  .logo {
    padding: 24px 0;
  }
  .header-btn {
    display: none;
  }
  .header-btn:hover {
    background-color: black;
    fill: #fff;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }
  .addres-list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }
  .address {
    padding: 0;
  }
  .header-btn:hover {
    background-color: black;
    fill: #fff;
  }
}
/* ==================hero================ */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #2e2f42;
    padding: 72px 0;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-fon-phone.jpg');
    background-size: cover;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
  .hero-title {
    width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
  }
  .hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    text-wrap: nowrap;
  }
  .hero-btn:hover,
  .hero-btn:focus {
  background-color: #404bbf;
}
  @media screen and (min-resolution: 192 dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-fon-phone@2x.jpg');
    }
  }
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #2e2f42;
    padding: 112px 0;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-fon-table.jpg');
    background-size: cover;
  }
  .hero-container {
    gap: 36px;
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07143;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-fon-table@2x.jpg');
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding: 188px 472px;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-fon-decktop.jpg');
    background-size: cover;
  }
  .hero-container {
    gap: 48px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-fon-decktop@2x.jpg');
    }
  }
}
/* =============benefits=============== */
  .benefits {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits-container {
    max-width: 320px;
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }
  .benefits-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .benefits-text {
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
  }
  .benefits-icons {
    display: none;
  }
@media screen and (min-width: 768px) {
.benefits{
  padding: 82px 0;
}
  .benefits-container {
    max-width: 768px;
  }
  .benefits-list {
    row-gap: 72px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-item {
    align-items: start;
  }
}
@media screen and (min-width: 1158px) {
  .benefits{
    padding: 120px 0;
  }
  .benefits-container {
    max-width: 1158px;
  }
  .benefits-item {
    align-items: normal;
    width: calc((100% - 3 * 24px) / 4);
  }
  .benefits-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
  }
}
/* ===================Our Team================ */
  .team{
    padding: 96px 0;
  }
.team-container {
    max-width: 320px;
    background-color: #f4f4fd;
    margin: 0 auto;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }
  .team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .team-description {
    padding: 32px 16px;
    text-align: center;
    align-items: center;
  }
  .team-description-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .team-description-text {
    margin-bottom: 8px;
  }
  .team-list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .team-icons-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-icon {
    fill: #f4f4fd;
  }
  .team-icons-link:hover,
  .team-icons-link:focus {
    background-color: #404bbf;
  }
@media screen and (min-width: 768px) {
  .team{
    padding: 96px 0;

  }
  .team-container {
    max-width: 584px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
  }
  .team-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 12px);
  }
  .team-list-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .team-icons-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-icon {
    fill: #f4f4fd;
  }
  .team-icons-link:hover,
  .team-icons-link:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .team{
    padding: 120px 0;
  }
  .team-container {
    max-width: 1158px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .team-item {
    width: calc(100% / 4 - 12px);
  }
  .team-icons-link:hover,
  .team-icons-link:focus {
    background-color: #404bbf;
  }
}
/* =============portfolio============= */
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-container {
    max-width: 320px;
    padding: 96px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .portfolio-list {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
  .portfolio-item {
    width: auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-banner {
    position: relative;
    overflow: hidden;
  }
  .portfolio-img {
    width: 100%;
  }
  .banner-portfolio-text {
    position: absolute;
    top: 0;
    left: 0;
    color: #f4f4fd;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .banner-portfolio-text,
  .portfolio-item:focus .banner-portfolio-text {
    transform: translateY(0);
  }
  .portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-description-title {
    margin-bottom: 8px;
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
  }
@media screen and (min-width: 768px) {
  .portfolio-container {
    max-width: 584px;
    flex-direction: column;
  }
  .portfolio-list {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc(100% / 2 - 12px);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-container {
    max-width: 1158px;
    padding: 120px 0;
    margin: 0 auto;
  }
  .portfolio-list {
    max-width: 1158px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .portfolio-item {
    width: calc(100% / 3 - 24px);
  }
}
/* ================footer============ */
.footer{
  background-color: #2e2f42;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
    max-width: 320px;
    padding: 96px 0;
    background: #2e2f42;
  }
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .footer-logo {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .footer-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
  }
  .footer-text {
    color: #f4f4fd;
    max-width: 288px;
  }
  .footer-social-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    width: 208px;
    height: 80px;
    position: relative;
  }
  .footer-social-text {
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
  .footer-social-list {
    display: flex;
    column-gap: 16px;
  }
  .footer-social-item {
    width: 40px;
    height: 40px;
  }
  .footer-social-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-icon {
    fill: #f4f4fd;
  }
  .footer-social-icons:hover,
  .footer-social-icons:focus {
    background-color: #31d0aa;
  }


  .form-container {
    width: 288px;
  }
  .text-form {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .label-form {
  }
  .input-form {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
  .btn-form {
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px; 
    height: 40px;
    background: #4d5ae5;
    color: #ffffff 
  }
  .form-container .btn-form:hover,
  .form-container .btn-form:focus {
    background-color: #404bbf;
  }
  .form-container .input-form::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color #ffffff; 
  }
  .icon-form {
    margin-left: 16px;
    fill: #fff;
  }
@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    padding: 96px 0;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-text {
    color: #f4f4fd;
    max-width: 288px;
  }
  .footer-social-div {
    align-items: start;
  }

  .form-container {
    width: 453px;
  }
  .text-form {
    margin-bottom: 16px;
    text-align: start;
  }
  .footer-form {
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    column-gap: 0;
    padding: 100px 0;
  }
  .footer-logo-container{
    margin-right: 120px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-social-div {
    margin-right: 80px;
  }

  .text-form {
    margin-bottom: 24px;
  }
  .footer-form {
    flex-direction: row;
  }
}
/* ==============backdrop=============== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  width: 288px;
  min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc; 
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}
.modal-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-label .modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-label-group {
  margin-bottom: 8px;
  width: 256px;
  position: relative;
}
.modal-label-group-textarea{
  position: relative;
  width: 256px;
  margin-bottom: 16px
}
.input-div{
  position: relative;
}
.modal-label-group .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-area {
  position: relative;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-area:focus{
  border-color: #4D5AE5;
}
.modal-input-area::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal-label-group-privacy{
  width: 256px;
  margin-bottom: 24px;
}
.modal-label-text {
  position: relative;
  display: block;
  padding: 0 0 0 25px;
  text-wrap: wrap; 
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input:hover + .icon,
.modal-input:focus + .icon{
  fill: #4D5AE5;
}
.modal-input:focus{
  border-color: #4D5AE5;
}
.span-privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.pseudo-check{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 7.5px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input.visually-hidden:checked + .modal-label-text 
.pseudo-check{
  background-color: #404bbf;
  border: none;
  fill:#F4F4FD;
}
.modal-link{
  color:#4d5ae5; 
  display: inline-block;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  fill: #ffffff
}
.modal-btn{
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  color: #ffffff;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    width: 408px;
  }
  .modal-label-group {
    width: 360px;
  }
  .modal-label-group-textarea{
    width: 360px;
  }
  .modal-label-group-privacy{
    width: 360px;
    margin-bottom: 24px;
  }
  .modal-label-text {
    padding: 0 0 0 25px;
  }
  .pseudo-check{
    left: 0;
    top: 0;
  }
}
/* ===============menu phone============ */
.backdrop-phone-menu{
background-color: #fafafa;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.phone-nav-link.current {
  position: relative;
  color: #404bbf;
}
.phone-menu-container{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: relative;
  width: 320px;
  height: 100dvh;
  padding: 72px 24px 40px 16px;
  margin: 0 auto;
}
.phone-menu-btn{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
}
.phone-menu-close-icon{
  width: 8px;
  height: 8px;
}
.phone-menu-btn:hover, 
.phone-menu-btn:hover .phone-menu-close-icon{
background-color: #404bbf;
fill: #fff;
}
.phone-nav{
display: flex;
flex-direction: column;
row-gap: 40px;
margin-bottom: auto;
}
.phone-nav-link{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.phone-nav-link:focus,
.phone-nav-link:hover{
  color: #404bbf;
}
.phone-address{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 48px;
}
.phone-address-link{
font-weight: 500;
font-size: 20px;
font-style:normal;
color: #434455;
}
.phone-address-link.tel{
  color: #4d5ae5;
}
.phone-address-link:hover,
.phone-address-link:hover{
  color: #404bbf;
}
.phone-social-list{
display: flex;
column-gap: 40px;
}
.phone-social-icons{
  display: inline-block;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-social-icon{
  fill: #f4f4fd;
}
.phone-social-item:hover .phone-social-icons,
.phone-social-item:focus .phone-social-icons{
  background-color: #31d0aa;
}