/* =================global style ==============*/
* {
  margin: 0;
}
.flex {
  display: flex;
}
.container {
  display: flex;
  width: 1158px;
}
/* ==================/global style============= */
/* =================tag style================== */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
}
button {
  cursor: pointer;
  background: #4d5ae5;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
ul li {
  list-style: none;
}
img {
  display: block;
}
/* ===============/tag style=============== */
/* =================event===================*/
.nav a:hover,
.nav a:focus {
  color: #404bbf;
}
address a:hover,
address a:focus {
  color: #404bbf;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* ============/event=================== */
/* ===============logo style===============*/
header .logo span {
  color: #2e2f42;
}
footer .logo span {
  color: #f4f4fd;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
/* ===============/logo style============== */
/* =============header================== */
.header.flex:first-child {
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  gap: 76;
  border-bottom: 1px solid #e7e9fc;
}
.nav > .menu.flex {
  gap: 40px;
  align-items: center;
}
.nav .link {
  padding: 24px 0;
}
.address-page {
  font-style: normal;
}
.address-page > .flex {
  gap: 40px;
}
.address-page-a {
  color: #434455;
}
/* =============/header================== */
/* =============1 section================ */
.hero {
  background: #2e2f42;
}
.hero > .container {
  flex-direction: column;
  padding: 188px 472px;
  gap: 48px;
  width: 1440px;
  align-items: center;
}
.title {
  letter-spacing: 0.02em;
}
.btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
}
/* =============/1 section================ */
/* =============2 section================ */
.benefits {
  padding: 120px 156px;
}
.benefits > .flex {
  gap: 24px;
}
.benefits > .flex > .flex {
  flex-direction: column;
  gap: 8px;
}
.benefits > .title {
  display: none;
}
.benefits .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* =============/2 section================ */
/* =============3 section================ */
.team-section {
  background-color: #f4f4fd;
}
.team-section .title {
  text-align: center;
  letter-spacing: 0.02em;
}
.team-section-li {
  background-color: #ffffff;
}
.team-section .text {
  text-align: center;
  color: #434455;
}
/* =============/3 section================ */
.Portfolio .text {
}
.Portfolio .title {
}
/* ================footer==================== */
footer {
  background: #2e2f42;
}
footer .text {
  color: #f4f4fd;
}
/* ==================/footer=================== */
