/* =================global style ==============*/
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.c-flex {
  display: flex;
  flex-direction: column;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =================tag style================== */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
}
button {
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* =============header================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header .container {
  justify-content: space-between;
}
header .logo span {
  color: #2e2f42;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.nav {
  align-items: center;
}
.nav > .menu {
  gap: 40px;
}
.header .link {
  font-weight: 500;
  color: #2e2f42;
}
.address .list {
  gap: 40px;
  color: #434455;
  font-style: normal;
}
/* =================event===================*/
.header .link:hover,
.header .link:focus {
  color: #404bbf;
}
.header .link:hover,
.header .link:focus {
  color: #404bbf;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* =============section 1================== */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-fon.jpg);
  background-size: cover;
}
.hero .container {
  gap: 48px;
  align-items: center;
}
.hero .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.hero .btn {
  background: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
}
/* =============2 section================ */
.benefits {
  padding: 120px 0;
}
.benefits .list {
  gap: 24px;
}
.benefits .item {
  width: calc((100% - 3 * 24px) / 4);
}
.benefits .icons {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}
/* ех, була ж ідея) */
/* .benefits .title::before {
  content: '';
  position: absolute;
  border: 1px solid red;
  width: 264px;
  height: 112px;
  top: calc(-100% - 8px);
  background-color: #fff;
  background-image: url('../images/sprite/benefits-icon.svg/#icon-Vector');
} */
.benefits .title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* =============3 section================ */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team .title {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team .list {
  background-color: #ffffff;
  gap: 24px;
}
.team .item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team .description {
  padding: 32px 0;
}
.team .list .title {
  text-align: center;
  margin-bottom: 8px;
}
.team .text {
  text-align: center;
  color: #434455;
}
/* ===============4 section ===============*/
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio .title {
  margin-bottom: 72px;
}
.portfolio .list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio .item {
  width: calc((100% - 48px) / 3);
}
.portfolio .description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio .item .title {
  margin-bottom: 8px;
  text-align: start;
}
/* ================footer==================== */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .logo span {
  color: #f4f4fd;
}
.footer .text {
  color: #f4f4fd;
  max-width: 264px;
}
/* ==================/footer=================== */
